@model SuperLig.Entities.Player

@{
    ViewData["Title"] = "Oyuncu Sil";
}

<h1>Oyuncu Sil</h1>

<div>
    <h4>Oyuncu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            <img src="/img/@Model.Image" alt="" height="75"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="mt-3">
        <input type="hidden" asp-for="Id" />
        <h5>Oyuncuyu Silmek İstediğinizden Emin Misiniz?</h5>
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a class="btn btn-warning" asp-action="Index">Listeye Dön</a>
    </form>
</div>
